<!DOCTYPE html>
<html>
<head>
    <title>Weersvoorspelling</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body class="container">
    
    <h1 class="text-center">Weersvoorspelling voor {{ city }}, {{ country }}</h1>
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="info">
                <th>Datum</th>
                <th>Min Temperatuur</th>
                <th>Max Temperatuur</th>
                <th>Weersomstandigheden</th>
                <th>Zon op</th>
                <th>Zon onder</th>
            </tr>
        </thead>
        <tbody>
            {% for day in forecast_days %}
                <tr>
                    <td>{{ day['date'] }}</td>
                    <td>{{ day['day']['mintemp_c'] }}°C</td>
                    <td>{{ day['day']['maxtemp_c'] }}°C</td>
                    <td>{{ day['day']['condition']['text'] }}</td>
                    <td>{{ day['astro']['sunrise'] }}</td>
                    <td>{{ day['astro']['sunset'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
