<!DOCTYPE html>
<html>

<head>
    <title>Weersvoorspelling</title>
</head>

<body>
    <h1>Weersvoorspelling</h1>
    <form action="/forecast" method="POST">
        <label for="country">Selecteer een land:</label>
        <input type="text" id="country" name="country" required>
        <!-- !!Zet hier de html-code in om een land in te kunnen voeren.!!
        !! Zorg ervoor dat je juiste naam gebruikt, want die heb je nodig in de code die je aanroept als je het formulier post.!! -->
        <label for="city">Selecteer een stad:</label>
        <input type="text" id="city" name="city" required><br><br>
        <input type="submit" value="Zoek weersvoorspelling">
    </form>
</body>

</html>